<?xml version="1.0"?>

<model>
  <name>Forest background</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Matous Vrba</name>
    <email>vrbamato@fel.cvut.cz</email>
  </author>

  <description>
    Background plane with a forest texture for testing of CNNs.
  </description>
</model>
