# local backup files
*.BAK

# vim swap files
*.swp

# CodeBlocks temporary files
*.layout
*.depend

# build related files
obj/
objs/
build/

# weight files (too large to be included)
*.weights*

# testing images, videos etc.
*.png
*.jpg
*.jpeg
*.gif
*.avi
*.mpg
*.mpeg
*.mp4
