<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg name="simulation" default="$(optenv SIMULATION false)" />
  <arg unless="$(arg simulation)" name="config_file" value="$(find uav_detect)/config/detection_params_F550.yaml"/>
  <arg     if="$(arg simulation)" name="config_file" value="$(find uav_detect)/config/sim_detection_params_F550.yaml"/>
  <arg unless="$(arg simulation)" name="depthmap_topic" value="/$(arg uav_name)/rs_d435/aligned_depth_to_color/image_raw"/>
  <arg     if="$(arg simulation)" name="depthmap_topic" value="/$(arg uav_name)/realsense/camera/depth/image_raw"/>

  <arg name="ignore_mask" default="$(optenv IGNORE_MASK false)" />
  <arg unless="$(arg ignore_mask)" name="mask_filename" value="$(find uav_detect)/masks/eagleone_mask_registered.bmp"/>
  <arg     if="$(arg ignore_mask)" name="mask_filename" value=""/>

  <arg name="standalone" default="true" />
  <arg name="manager" default="detection_nodelet_manager" />
  <arg name="nodelet" value="uav_detect/DepthDetector" />
  <arg unless="$(arg standalone)" name="nodelet_load" value="load $(arg nodelet) $(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_load" value="standalone $(arg nodelet)"/>

  <group ns="$(arg uav_name)">
    
    <node pkg="nodelet" type="nodelet" name="uav_detection" args="$(arg nodelet_load)" output="screen" launch-prefix="$(arg launch_prefix)">
      
      <param name="uav_name" value="$(arg uav_name)" />
      <param name="path_to_mask" value="$(arg mask_filename)" />
      <rosparam file="$(arg config_file)" />
    
      <remap from="~depthmap" to="$(arg depthmap_topic)" />

    </node>
  
  </group>

</launch>
