<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">
    
    <node pkg="uav_detect" name="uav_detection" type="depth_detect_node" output="screen" >
      
      <!-- <rosparam file="$(find uav_detect)/config/filter_single.yaml" /> -->
      <rosparam file="$(find uav_detect)/config/detection_params_F550.yaml" />
      <param name="uav_name" value="$(arg uav_name)" />
    
      <!-- <remap from="~thermal_image" to="/thermal/image_raw" /> -->
      <!-- <remap from="~rgb_image" to="/$(arg uav_name)/rs_d435/color/image_rect_color" /> -->
      <remap from="~depthmap" to="/$(arg uav_name)/rs_d435/aligned_depth_to_color/image_raw" />
      <!-- <remap from="~camera_info" to="/$(arg uav_name)/rs_d435/aligned_depth_to_color/camera_info" /> -->

    </node>
  
  </group>

</launch>
