<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_dbg" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_dbg" value="debug_roslaunch"/>

  <arg name="profile" default="false" />
  <arg unless="$(arg profile)" name="launch_prefix_prf" value=""/>
  <arg     if="$(arg profile)" name="launch_prefix_prf" value="valgrind --tool=callgrind"/>

  <arg name="realsense" default="true" />
  <arg     if="$(arg realsense)" name="config_file" value="$(find uav_detect)/config/detection_params_realsense.yaml"/>
  <arg unless="$(arg realsense)" name="config_file" value="$(find uav_detect)/config/detection_params_nerian.yaml"/>
  <arg     if="$(arg realsense)" name="depthmap_topic" value="/$(arg uav_name)/rs_d435/aligned_depth_to_color/image_raw"/>
  <arg unless="$(arg realsense)" name="depthmap_topic" value="/$(arg uav_name)/nerian_driver/depth_map"/>
  <arg     if="$(arg realsense)" name="rgb_topic" value="/$(arg uav_name)/rs_d435/color/image_raw"/>
  <arg unless="$(arg realsense)" name="rgb_topic" value="/$(arg uav_name)/nerian_driver/left_image"/>

  <arg name="ignore_mask" default="$(optenv IGNORE_MASK false)" />
  <arg unless="$(arg ignore_mask)" name="mask_filename" value="$(find uav_detect)/masks/nerian_eagleone_mask.bmp"/>
  <arg     if="$(arg ignore_mask)" name="mask_filename" value=""/>

  <group ns="$(arg uav_name)">
    <node pkg="uav_detect" name="uav_display" type="dbg_display_node" output="screen" launch-prefix="$(arg launch_prefix_dbg) $(arg launch_prefix_prf)" >

      <param name="path_to_mask" value="$(arg mask_filename)" />
      <rosparam file="$(arg config_file)" />

      <remap from="~depthmap" to="$(arg depthmap_topic)" />
      <!-- <remap from="~depthmap" to="/nerian_stereo/disparity_map" /> -->
      <remap from="~rgb_img" to="$(arg rgb_topic)" />
      <remap from="~blob_detections" to="/$(arg uav_name)/uav_detection/blob_detections" />
      <remap from="~processed_depthmap" to="/$(arg uav_name)/uav_detection/processed_depthmap" />

    </node>

  </group>

</launch>
