<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="pdb"/>

  <arg name="bags_base_path" default="/home/$(env USER)/bag_files/uav_detect/icra2019"/>
  <arg name="det_bag" default="out/cnn_detections.bag"/>
  <arg name="det_topic" default="/uav42/cnn_detect/detections"/>

  <arg name="cinfo_bag" default="out/camera_info.bag"/>
  <arg name="cinfo_topic" default="/uav42/rs_d435/color/camera_info"/>

  <arg name="gt_bag1" default="_2019-09-03-15-03-02_detector.bag"/>
  <arg name="gt_topic1" default="/uav42/odometry/odom_main"/>

  <arg name="gt_bag2" default="_2019-09-03-14-58-47_target.bag"/>
  <arg name="gt_topic2" default="/uav4/odometry/odom_main"/>

  <node name="localization_evaluation" pkg="cnn_detect" type="evaluator_det.py" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="detection_bag_name" value="$(arg bags_base_path)/$(arg det_bag)" />
    <param name="detection_topic_name" value="$(arg det_topic)" />

    <param name="cinfo_bag_name" value="$(arg bags_base_path)/$(arg cinfo_bag)" />
    <param name="cinfo_topic_name" value="$(arg cinfo_topic)" />

    <param name="ground_truth_bag_name1" value="$(arg bags_base_path)/$(arg gt_bag1)" />
    <param name="ground_truth_topic_name1" value="$(arg gt_topic1)" />
    <param name="ground_truth_bag_name2" value="$(arg bags_base_path)/$(arg gt_bag2)" />
    <param name="ground_truth_topic_name2" value="$(arg gt_topic2)" />

    <param name="ground_truth_out_fname" value="$(find cnn_detect)/output/cnn/gt_out.csv" />
  </node>

  <!-- <group ns="$(arg uav_name)"> -->
  <!--   <node name="img_repub_depth" pkg="image_transport" type="republish" args="compressedDepth in:=/uav81/rs_d435/aligned_depth_to_color/image_raw raw out:=/uav81/rs_d435/aligned_depth_to_color/image_raw" /> -->
  <!--   <node name="img_repub_image" pkg="image_transport" type="republish" args="compressed in:=/uav81/rs_d435/color/image_raw raw out:=/uav81/rs_d435/color/image_rect_color" /> -->
  <!-- </group> -->

</launch>
