<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">
    
    <node pkg="uav_detect" name="uav_detection" type="depth_detect_node" output="screen" >
      
      <rosparam file="$(find uav_detect)/config/sim_dr_default_f550.yaml" />
      <param name="unknown_pixel_value" value="12000" />
    
      <remap from="~depthmap" to="/$(arg uav_name)/realsense/camera/depth/image_raw" />

    </node>
  
  </group>

</launch>
