<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">
    
    <node name="cnn_detect" pkg="cnn_detect" type="uav_detect" output="screen">
      
      <rosparam file="$(find cnn_detect)/config/mobius.yaml" />
      <rosparam file="$(find cnn_detect)/config/uav_detect.yaml" />
      <param name="data_file" value="$(find cnn_detect)/mrs/mrs.data" />
      <param name="names_file" value="$(find cnn_detect)/mrs/mrs.names" />
      <param name="cfg_file" value="$(find cnn_detect)/mrs/tiny-yolo-mrs.cfg" />
      <param name="weights_file" value="$(find cnn_detect)/mrs/tiny-yolo-mrs_for_experiments.weights" />
      <param name="uav_name" value="$(arg uav_name)" />

      <remap from="~camera_input" to="rs_d435/color/image_rect_color" />
      <remap from="~camera_info" to="rs_d435/color/camera_info" />
    
    </node>
  
  </group>

</launch>
